.favorite{
    width: 95vw;
    margin: 30px 50px 30px 50px;

    .favWrapper{
        display: flex;
        flex-direction: column;
        width: 90%;

        .favInfo{
            display: flex;
            gap: 120px;
            height: 120px;
            margin: 10px 0;
            align-items: center;
            border-bottom: 2px solid black;
            font-size: 19px;    
            
            .favTitle{
                margin-left: 100px;
                width: 20%;
            }

            @media only screen and (max-width: 600px) {
                .favTitle{
                    margin-left: 10px;
                }
            }

            .favPrice{
                width: 10%;
            }

            a{
                width: 5%;

                img{
                    width:100%
                }
            }

            .favDelete{
                color: red;
                cursor: pointer;
            }   
        }
    }
}


@media only screen and (max-width: 1172px) {
    .favorite{
        margin: 30px 20px;

        .favWrapper{
            .favInfo{
                font-size: 14px;
                gap: 50px;
                a{             
                        img{
                           width: 200%;
                        }  
                }          
            }

                .favInfo{
                   font-size: 14px;
                   gap: 50px;
                }          
        }
    }
}

@media only screen and (max-width: 600px) {
    .favorite{  
        .favWrapper{
            .favInfo{    
                    .favTitle{
                        margin-left: 10px;
                    } 
            }
        }
    }
    
}