.searchCartContainer{
    position: absolute;
    width: 400px;
    right: 100px;
    top: 60px;
    z-index: 999;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0,0,0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    max-height: 200px;
    overflow: hidden;
    overflow-y: scroll;

    .foundProducts{
        display: flex;
        flex-direction: column;
        padding: 5px;
        
    .foundLink{
        text-decoration: none;
        color: black;
        
    .foundProduct{
        display: flex;
        height: 80px;
        padding: 5px;
        font-size: 20px;
        margin: 5px;
        cursor: pointer;
        justify-content: space-between;

    .foundtitle{
       margin: auto 0;
    }

    img{
        min-width: 20%;
    }
}}
    }
}

@media only screen and (max-width: 1172px) {
    .searchCartContainer{
    width: 300px; 
    }
}
@media only screen and (max-width: 800px) {
    .searchCartContainer{
    width: 200px; 
    top: 50px;

    .foundProducts{
    .foundLink{
    .foundProduct{
    .foundtitle{
       font-size: 14px;
    }

    img{
        min-width: 35%;
    }
}}
    }
    }
}