.mobileBurgerOptions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 50px;
    left: -15px;
    background-color: white;
    width: 150px;
    height: 220px;
    z-index: 999;
    font-size: 25px;
    text-align: center;
}

.mobileItem{
    padding: 10px;
    border-bottom: solid 2px gray;
}
