
    .mobileTopContainer{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    
    .mobileTop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        cursor: pointer;

        h1{
            font-size: 24px;
        }

        .icon{
            font-size: 40px;
        }
    }

    .mobileItem{
        display: flex;
        flex-direction: column;
        gap: 5px;
        
        .link{
            text-decoration: none;
        }
    }
    }