.featuredProducts{
    margin: 100px 200px;
    
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
        
        h1{
            flex: 2;
            text-transform: capitalize;
        }
        
        p{
            font-size: 25px;
            flex: 3;
            color: gray;   
            text-decoration: underline; 
        }
    }

    @media only screen and (max-width: 600px) {
        .top{
            gap:20px;
        }
    }

    .bottom{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    @media only screen and (max-width: 600px) {
        .bottom{
            flex-wrap: wrap;
            width: 90vw;
            overflow: hidden;
            gap: 20px
        }
    }
}

@media only screen and (max-width: 800px) {
    .featuredProducts{
        margin: 50px 20px;

        .top{
                h1{
                    font-size: 16px;
                }
        
                p{
                    font-size: 16px;
                    flex: 2;
                }   
        } 
        .bottom{
            flex-wrap: wrap;
        }
    }
}

@media only screen and (max-width: 600px) {
    .featuredProducts{      
            .top{
                gap:20px;
            }

            .bottom{
                flex-wrap: wrap;
                width: 90vw;
                overflow: hidden;
                gap: 20px  
        } 
    }
}