.navbar{
    height: 60px;

.wrapper{
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left{
        display: flex;
        align-items: center;
        gap: 25px;
        font-size: 18px;
    }
        
    .item{
        display: flex;
        align-items: center;
    }
    
    .item>img{
        width: 30px;
        height: 30px;
    }

    .item>select{
        width: 80px;
        height: 30px;
        border-radius: 15px;
        border: none;
        font-size: 16px;
        text-align: center;    
    }

    .center{
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: 600;
    }
   
    .right{
        display: flex;
        align-items: center;
        gap: 25px;
    }

    #about{
        cursor: pointer;
        }

    .linkL{
                padding: 7px 12px;
                border-radius: 20px;
                background-color: #2879fe;
                text-decoration: none;
                color: black;
                font-weight: bold;

                &:hover{
                    transform: scale(1.1);
                    color: white;
                    transition: all .2s ease;
                }
        }

        .icons{
            display: flex;
            gap: 15px;
            color: #777;
            cursor: pointer;
        }   

            .cartIcon{
                position: relative;

                span{
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: #2879fe;
                    color: white;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .personalCart{
                    position: relative;
                }

                .searchCart{
                    position: relative;
                }
            }
}
}

@media only screen and (max-width: 1172px) {
    .navbar{      
    .wrapper{
        padding: 10px 20px;

            .left{
                gap: 5px;
                font-size: 14px;
                }  

            .item>select{
                width: 50px;
                height: 30px;
                border-radius: 15px;
                border: none;
                font-size: 12px;
                text-align: center;
            }

            .center{
                font-size: 20px;
            }

            .right{
                gap: 7px;
                font-size: 14px;
                }
         
            .linkL{
                padding: 3px 6px;
                border-radius: 10px;
                }

            .icons{
                gap: 7px;
                }
    } 
    }  
}

@media only screen and (max-width: 800px) {
.navbar{
        height: 50px;

.wrapper{

    .left{
        gap: 15px;
        font-size: 18px;
        }

    .left>.item:nth-child(1){
        display: none
    }  

    .left>.item:nth-child(2){
        display: none
        }  

    #about{
        display: none;
        }

    .right>.item:first-child{
        display: none;
        }
}
    }
}

@media only screen and (max-width: 600px) {
    .navbar{
        height: 50px;

        .wrapper{
            padding: 10px 5px;

                .cartIcon{
                margin-right: 10px;
                }  
            }  
    }  
}

@media only screen and (max-width: 549px) {
    .navbar{

    .wrapper{
        
        .left>.item{
             display: none;
            }
    }}
 }

 @media only screen and (min-width: 550px) {
    .navbar{  

    .wrapper{

        .mobileBurger{
            display: none;
        } 
    }}
 }
