.returnContainer{
    display: flex;
      justify-content: center;
        width: 100vw;

    .returnWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;

    .returnDescription{
        width: 1000px;
      font-size: 25px;
      margin-bottom: 25px;

      h2{
        font-size: 25px;
      }
    }  
   
    .returnDetails{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: 100px;
        font-size: 25px;
        border: 2px solid black;

        span{
            margin-bottom: 7px;
        }   

        .returnLink{
            font-size: 22px;
            border: none;
            background-color: yellow;
            color: black;
            font-weight: 500;
            border-radius: 15px;
            padding: 10px;
            cursor: pointer;
            text-decoration: none;
        }
    }
    }
}


@media only screen and (max-width: 1172px) {
    .returnContainer{
        .returnWrapper{
            .returnDescription{
               width: 80vw;
            }
        }
    } 
}

@media only screen and (max-width: 600px) {
    .returnContainer{
        .returnWrapper{ 
            .returnDescription{
                 font-size: 18px;
            }
        }
    } 
}