.accContainer{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 150px;
   
    h1{
        font-size: 49px;
     }

     span{
        font-size: 22px;
     }

    .accMain{
     display: flex;
     width: 70%;
     margin-top: 20px;
   
     .accInfo{
        display: flex;
   
     
     .personIcon{
      font-size: 90px;
      margin-right: 50px;
     }

     .accData{
        display: flex;
        flex-direction: column;
        font-size: 22px;
     }
     }

     .accLinks{
      margin-left: 250px;
      display: flex;
      flex-direction: column;
      font-size: 22px;

      .accLink{
         cursor: pointer;
         text-decoration: none;
         color: blue;
         margin-bottom: 3px;

         &:hover{
            text-decoration: underline;  
         }
      } 
     }
    }
    
    hr{
      width: 70%;
    }
   }

   @media only screen and (max-width: 1172px) {
   .accContainer{
    .accMain{ 
      width: 90%;

     .accInfo{
      .personIcon{
         font-size: 60px;
      }
     }

      .accLinks{
         margin-left: 50px;
      }
  }
    
      hr{
         width: 90%;
   }
}
   }

    @media only screen and (max-width: 600px) {
      .accContainer{ 
         margin: 30px 20px;

         .accMain{
           .accInfo{
              flex-direction: column;
           }

        .accLinks{
           margin-left: 20px;
           justify-content: center;
        }        
         }
        }       
  }
  

